#Host *
#  Compression yes
#  CompressionLevel 7
#  Cipher blowfish
#  ServerAliveInterval 300
#  ControlMaster auto
#  ControlPath /tmp/ssh-%r@%h:%p

#Host matching.veriphyr.com
#  User veriphyr
#  Hostname ec2-184-73-97-106.compute-1.amazonaws.com
#  IdentityFile /Users/jmay/.ec2/firstkey.pem

# Host heroku.com
#   ForwardAgent yes

Host heroku.personal
  HostName heroku.com
  IdentityFile ~/.ssh/identity.heroku.personal
  IdentitiesOnly yes

Host heroku.veriphyr
  HostName heroku.com
  IdentityFile ~/.ssh/identity.heroku.personal
  IdentitiesOnly yes

Host va
  HostName ec2-54-225-42-206.compute-1.amazonaws.com
  User jmay
  IdentityFile ~/.ssh/veriphyr.key
  TCPKeepAlive yes
  ServerAliveInterval 60
  ControlMaster auto
#  LocalForward localhost:9999 ec2-54-167-208-78.compute-1.amazonaws.com:27017
# HostName ec2-54-162-219-246.compute-1.amazonaws.com

Host va-root
  HostName ec2-54-225-42-206.compute-1.amazonaws.com
  User ubuntu
  IdentityFile ~/.ssh/jmay-analysis-pair.pem
  TCPKeepAlive yes
  ServerAliveInterval 60
  ControlMaster auto

Host ob1
  HostName n1.otherbase.com
  User otherbase
  ForwardAgent yes

Host ob2
  HostName 66.175.217.147
  User root
  ForwardAgent yes

Host do_discourse
  HostName 104.236.6.160
  User root
  ForwardAgent yes

Host anno_discourse
  HostName 104.236.101.218
  User root
  ForwardAgent yes
